@inherits Base

@using Monitoring.Shared.Dto

@using Newtonsoft.Json
@using Syncfusion.Blazor.CircularGauge

@if (_definition != null)
{
    <SfCircularGauge Height="300">
        <CircularGaugeAxes>
            <CircularGaugeAxis Minimum="@_definition.Minimum" Maximum="@_definition.Maximum">
                <CircularGaugeAnnotations>
                    <CircularGaugeAnnotation Radius="40%" Angle="195" ZIndex="1">
                        <ContentTemplate>
                            <div><span style="font-size:20px; color:#424242; font-family:Regular; margin-left: -33px">@DataSource</span></div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                </CircularGaugeAnnotations>
                <CircularGaugeRanges>
                    @foreach (var range in _definition.Ranges)
                    {
                        <CircularGaugeRange Start="@range.Start" End="@range.End" Color="@range.Color" />
                    }
                </CircularGaugeRanges>
                <CircularGaugePointers>
                    <CircularGaugePointer Value="@DataSource">
                    </CircularGaugePointer>
                </CircularGaugePointers>
            </CircularGaugeAxis>
        </CircularGaugeAxes>
    </SfCircularGauge>
} else {
    <div>Definition is not filled</div>
}

@code{
    [Parameter]
    public int DataSource { get; set; }

    private CircularGaugeDefinitionDto _definition;

    protected override void OnInitialized()
    {
        _definition = JsonConvert.DeserializeObject<CircularGaugeDefinitionDto>(Definition);
    }
}
