﻿@page "/location/{Id:int}"

@attribute [Authorize(Policy = Policies.IsAdmin)]

@using Monitoring.Shared.Dto
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Blazored.LocalStorage;
@using System.Globalization

@inject HttpClient Http
@inject ISuperService superService
@inject ISyncLocalStorageService localStorage

@if (_locationDto == null) {
    <Loading />
} else {
    <BackButton Url="/locations" />
    <h2>@Localizer["Location"]</h2>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <EditForm Model="@_locationDto" OnValidSubmit="@UpdateLocation">
                <FluentValidator />

                <fieldset>
                    <div class="form-group">
                        <label>@Localizer["Name"]</label>
                        <SfTextBox @bind-Value="@_locationDto.Name" />
                        <ValidationMessage For="@(() => @_locationDto.Name)" />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["DisplayName"]</label>
                        <SfTextBox @bind-Value="@_locationDto.DisplayName"  />
                        <ValidationMessage For="@(() => @_locationDto.DisplayName)" />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["Address"]</label>
                        <SfTextBox @bind-Value="@_locationDto.Address" />
                        <ValidationMessage For="@(() => @_locationDto.Address)" />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["City"]</label>
                        <SfTextBox @bind-Value="@_locationDto.City" />
                        <ValidationMessage For="@(() => @_locationDto.City)" />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["PhoneContact"]</label>
                        <SfTextBox @bind-Value="@_locationDto.PhoneContact" />
                        <ValidationMessage For="@(() => @_locationDto.PhoneContact)" />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["ZipCode"]</label>
                        <SfTextBox @bind-Value="@_locationDto.ZipCode" />
                        <ValidationMessage For="@(() => @_locationDto.ZipCode)" />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["Note"]</label>
                        <SfTextBox @bind-Value="@_locationDto.Note" Multiline="true" />
                        <ValidationMessage For="@(() => @_locationDto.Note)" />
                    </div>
                    <div class="form-group d-flex justify-content-end">
                        <SfButton IsPrimary="true" Type="submit">@Localizer["Update"]</SfButton>
                    </div>
                </fieldset>
            </EditForm>        
        </div>
        <div class="col-lg-6 col-sm-12 image-container">
            <img class="image" src="@GetPath()" />
            <SfUploader ID="UploadFiles" AllowedExtensions=".png,.jpg,.jpeg" Multiple="false" MaxFileSize="10_000_000" Locale="@CultureInfo.CurrentCulture.Name">
                <UploaderEvents  FileSelected="OnFileSelected" />
                <UploaderAsyncSettings SaveUrl="api/Upload"></UploaderAsyncSettings>
            </SfUploader>
        </div>   
    </div>
}

@code  {
    [Parameter]
    public int Id { get; set; }
    private LocationDto _locationDto;

    protected override async Task OnInitializedAsync()
    {
        var apiResponse = await Http.GetFromJsonAsync<ApiResponseDto>("api/location/" + Id);
        if (apiResponse.StatusCode == Status200OK)
        {
            _locationDto = Newtonsoft.Json.JsonConvert.DeserializeObject<LocationDto>(apiResponse.Result.ToString());
        }
        else
        {
            superService.ShowError(@Localizer["ErrorOccurred"], apiResponse.Message);
        }
    }

    public void OnFileSelected(SelectedEventArgs args)
    {
        var token = localStorage.GetItem<string>("authToken");
        args.CurrentRequest = new List<object> {
            new  {
                Authorization = "bearer " + token                
            }, 
            new {
                FileName = GetFileName()
            }
        };
    }

    private string GetFileName()
    {
        return $"sensortype-{Id}.jpg";
    }

    private string GetPath() {
        return "images/" + GetFileName();
    }

    private async Task UpdateLocation()
    {
        try
        {
            var response = await Http.PutAsJsonAsync("/api/location", _locationDto);
            var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponseDto>();

            if (apiResponse.StatusCode == Status200OK)
            {
                superService.ShowSuccess(Localizer["UpdateSuccess"]);
            }
            else
            {
                superService.ShowError(Localizer["UpdateFailure"], apiResponse.Message);
            }
        }
        catch (Exception ex)
        {
            superService.ShowError(Localizer["UpdateFailure"], ex.Message);
        }
    }
}
