﻿@page "/locations"
@attribute [Authorize(Permissions.Location.Read)]

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Popups

@inject HttpClient Http
@inject ISuperService superService
@inject NavigationManager NavigationManager

<h1>@Localizer["Locations"]</h1>
<div class="buttons-toolbar">
    <AuthorizeView Policy="@Permissions.Location.Create">
        <SfButton @onclick="OnCreateButtonClick" CssClass="e-outline" IconCss="e-icons e-add">@Localizer["Add"]</SfButton>
    </AuthorizeView>
    <AuthorizeView Policy="@Permissions.Location.Delete">
        <SfButton @onclick="OnDeleteButtonClick" CssClass="e-outline" Disabled="@IsDeleteButtonDisabled" IconCss="e-icons e-delete">@Localizer["Delete"]</SfButton>
    </AuthorizeView>
</div>
<SfGrid @ref="@grid" TValue="LocationDto" AllowPaging="true">
    <GridEvents RowSelected="RowSelectHandler"
                RowDeselected="RowDeselectHandler"
                OnActionFailure="ActionFailureHandler"
                TValue="LocationDto"></GridEvents>
    <GridEditSettings AllowAdding="true" AllowDeleting="true"></GridEditSettings>
    <SfDataManager Url="api/location" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
    <GridColumns>
        <GridColumn Field=@nameof(LocationDto.Id) HeaderText="Id" />
        <GridColumn Field=@nameof(LocationDto.Name) HeaderText="@Localizer["Name"]" />
        <GridColumn Field=@nameof(LocationDto.DisplayName) HeaderText="@Localizer["DisplayName"]" />
        <AuthorizeView Policy="@Permissions.Location.Delete">
            <GridColumn>
                <Template Context="asdf">
                    @{
                        var location = asdf as LocationDto;
                    }
                    <SfButton @onclick="() => EditClick(location.Id)" CssClass="oi oi-wrench" />
                </Template>
            </GridColumn>
        </AuthorizeView>
    </GridColumns>
</SfGrid>

<SfDialog Width="600px" IsModal="true" ShowCloseIcon="true" @bind-Visible="createDialogOpen">
    <DialogTemplates>
        <Header>New location</Header>
        <Content>
            <EditForm Model="@entity" OnValidSubmit="CreateAsync">
                <DataAnnotationsValidator />
                <fieldset>
                    <div class="form-group">
                        <label>@Localizer["Name"]</label>
                        <SfTextBox @bind-Value="@entity.Name"></SfTextBox>
                        <ValidationMessage For="@(() => @entity.Name)" />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["DisplayName"]</label>
                        <SfTextBox @bind-Value="@entity.DisplayName"></SfTextBox>
                        <ValidationMessage For="@(() => @entity.DisplayName)" />
                    </div>
                    <div class="form-group">
                        <SfButton CssClass="e-primary float-right" Type="submit">@Localizer["Create"]</SfButton>
                    </div>
                </fieldset>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

<SfDialog Width="400px" IsModal="true" ShowCloseIcon="true" @bind-Visible="deleteDialogOpen">
    <DialogTemplates>
        <Header>@Localizer["DeleteConfirm"]</Header>
        <Content>
            @Localizer["DeleteSure"]
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton OnClick="DeleteAsync" Content="Delete" IsPrimary="true" />
    </DialogButtons>
</SfDialog>

@code  {
    SfGrid<LocationDto> grid;
    bool IsDeleteButtonDisabled = true;
    bool createDialogOpen = false;
    bool deleteDialogOpen = false;

    public LocationDto entity { get; set; } = new LocationDto();

    public void ActionFailureHandler(Syncfusion.Blazor.Grids.FailureEventArgs args)
    {
        superService.ShowError(@Localizer["ErrorOccurred"]);
    }

    public void RowSelectHandler(RowSelectEventArgs<LocationDto> args)
    {
        IsDeleteButtonDisabled = false;
    }

    public void RowDeselectHandler(RowDeselectEventArgs<LocationDto> args)
    {
        IsDeleteButtonDisabled = true;
    }

    public void OnCreateButtonClick()
    {
        createDialogOpen = true;
    }

    public void OnDeleteButtonClick()
    {
        deleteDialogOpen = true;
    }

    public async Task DeleteAsync()
    {
        try
        {
            var record = await grid.GetSelectedRecords();
            var response = await Http.DeleteAsync("api/location?id=" + record[0].Id);
            var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponseDto>();
            if (apiResponse.StatusCode == Status200OK)
            {
                grid.Refresh();
                deleteDialogOpen = false;
                superService.ShowSuccess(@Localizer["DeleteSuccess"]);
            }
            else
            {
                superService.ShowError(@Localizer["DeleteFailure"], apiResponse.Message);
            }
        }
        catch (Exception ex)
        {
            superService.ShowError(@Localizer["DeleteFailure"], ex.Message);
        }
    }

    public async Task CreateAsync()
    {
        try
        {
            var response = await Http.PostAsJsonAsync("api/location", entity);
            var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponseDto>();
            if (apiResponse.StatusCode == Status200OK)
            {
                entity = new LocationDto();
                grid.Refresh();
                createDialogOpen = false;
                superService.ShowSuccess("Successfully created");
            }
            else
            {
                superService.ShowError("Creation Failed", apiResponse.Message);
            }
        }
        catch (Exception ex)
        {
            superService.ShowError("Creation Failed", ex.Message);
        }
    }

       private void EditClick(int id)
    {
        NavigationManager.NavigateTo("/location/" + id);
    }
}
