﻿@page "/sensorType/{Id:int}"

@using Monitoring.Shared.Dto
@using Blazored.LocalStorage;

@inject HttpClient Http
@inject ISuperService superService
@inject ISyncLocalStorageService localStorage

@if (_sensorTypeDto == null) {
    <Loading>@Localizer["Loading"]</Loading>
} else {
    <h2>@Localizer["SensorType"]</h2>
    <div>@_sensorTypeDto.Name</div>
}

@code  {
    [Parameter]
    public int Id { get; set; }
    private SensorTypeDto _sensorTypeDto;

    protected override async Task OnInitializedAsync()
    {
        var apiResponse = await Http.GetFromJsonAsync<ApiResponseDto>("api/sensorType/" + Id);
        if (apiResponse.StatusCode == Status200OK)
        {
            _sensorTypeDto = Newtonsoft.Json.JsonConvert.DeserializeObject<SensorTypeDto>(apiResponse.Result.ToString());
        }
        else
        {
            superService.ShowError("Sensor type retrieval failed", apiResponse.Message);
        }
    }
}
