﻿@page "/sensor/{Id:int}"

@using Monitoring.Client.Extensions

@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars

@inject HttpClient Http
@inject IJSRuntime JS
@inject ISuperService superService

<BackButton Url="/sensors" />
<h1>@Localizer["Sensor"]</h1>
@if (_sensorData == null) {
    <Loading>@Localizer["Loading"]</Loading>
} else {
    <div>@Localizer["Location"]: @_sensor.Location.DisplayName</div>
    <div>@Localizer["SensorType"]: @_sensor.SensorModel.SensorType.Name</div>

    <div class="filter-settings">
        <SfDatePicker TValue="DateTime?" @bind-Value="@_fromDate" Format="dd.MM.yyyy" CssClass="picker" />
        <SfDatePicker TValue="DateTime?" @bind-Value="@_toDate" Format="dd.MM.yyyy" CssClass="picker" />
        <SfButton OnClick="@FilterDataAsync" IsPrimary="true">@Localizer["Filter"]</SfButton>
    </div>
    <SfButton OnClick="@ExportDataAsync" IconCss="oi oi-data-transfer-download">@Localizer["Export"]</SfButton>
    <div class="chart">
        <SfChart Title="@Localizer["Measurement"]" Theme="ChartTheme.Bootstrap4" Width="90%">
            <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
            <ChartPrimaryXAxis 
                ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime" 
                EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
            </ChartPrimaryXAxis>
            <ChartPrimaryYAxis 
                LabelFormat="@FormatXAxis()"
                LabelRotation="45">
                <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
            </ChartPrimaryYAxis>
            <ChartTooltipSettings Enable="true">
                <Template>
                    @{
                        var data = context as IChartTemplate;
                        <div class="chart-tooltip">
                            @data.X: @data.Y
                        </div>
                    }
                </Template>
                </ChartTooltipSettings>
            <ChartSeriesCollection>
                <ChartSeries DataSource="@_sensorData" Name="@_sensor.SensorModel.SensorType.Name" XName="Time" Width="2"
                            Opacity="1" YName="Data" Type="ChartSeriesType.Line">
                    <ChartMarker Visible="true" Width="10" Height="10"/>
                </ChartSeries>
            </ChartSeriesCollection>
        </SfChart>
    </div>
}

@code  {
    [Parameter]
    public int Id { get; set; }

    private DateTime? _fromDate = DateTime.Now.Date.AddDays(-7);
    private DateTime? _toDate = DateTime.Now.Date;

    private List<SensorDataDto> _sensorData;
    private SensorDto _sensor;

    protected override async Task OnInitializedAsync()
    {
        var tasks = new List<Task<ApiResponseDto>>();
        tasks.Add(Http.GetFromJsonAsync<ApiResponseDto>("api/sensor/" + Id));
        tasks.Add(Http.GetFromJsonAsync<ApiResponseDto>(GetDataUrl(Id, _fromDate, _toDate)));
        IEnumerable<ApiResponseDto> responses;
        try
        {
            responses = await Task.WhenAll(tasks);
        }
        catch (Exception)
        {
            superService.ShowError(@Localizer["Error"], "Error ocurred during transmission");
        }

        ApiResponseDto apiResponse = tasks[0].Result;
        if (apiResponse.StatusCode == Status200OK)
        {
            _sensor = Newtonsoft.Json.JsonConvert.DeserializeObject<SensorDto>(apiResponse.Result.ToString());
        }
        else
        {
            superService.ShowError("Sensor retrieval failed", apiResponse.Message);
            return;
        }

        apiResponse = tasks[1].Result;
        if (apiResponse.StatusCode == Status200OK)
        {
            _sensorData = Newtonsoft.Json.JsonConvert.DeserializeObject<List<SensorDataDto>>(apiResponse.Result.ToString());
        }
        else
        {
            superService.ShowError("Data retrieval failed", apiResponse.Message);
        }
    }

    private async Task FilterDataAsync()
    {
        superService.ShowSpinner();
        if (_fromDate != null && _toDate != null && _fromDate <= _toDate)
        {
            var url = GetDataUrl(Id, _fromDate, _toDate);
            var apiResponse = await Http.GetFromJsonAsync<ApiResponseDto>(url);
            if (apiResponse.StatusCode == Status200OK)
            {
                _sensorData = Newtonsoft.Json.JsonConvert.DeserializeObject<List<SensorDataDto>>(apiResponse.Result.ToString());
            }
        }
        superService.HideSpinner();
    }

    private string GetDataUrl(int id, DateTime? from, DateTime? to)
    {
        var culture = new System.Globalization.CultureInfo("en-US");
        var fromString = from?.ToString("MM/dd/yyyy hh:mm tt", culture);
        var toString = to?.ToString("MM/dd/yyyy hh:mm tt", culture);
        return string.Format("api/data?sensorId={0}&from={1}&to={2}", id, fromString, toString);
    }

    private async Task ExportDataAsync()
    {
        if (_sensorData == null)
        {
            return;
        }
        superService.ShowSpinner();
        byte[] ba = Utils.ExcelHelper.GetExcelByteArray(_sensorData);
        await JS.SaveAs("export.xsls", ba);
        superService.HideSpinner();
    }

    private string FormatXAxis() {
        return "{value} " + _sensor.SensorModel.Unit.Symbol;
    }
}