﻿@page "/support"
@attribute [Authorize]

@using Monitoring.Shared.Dto
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs

@inject HttpClient Http
@inject ISuperService superService

<h2>@Localizer["ContactSupport"]</h2>

<EditForm class="@_sentClass" Model="@_email" OnValidSubmit="@OnSubmit">
    <div class="form-group">
        <label>@Localizer["Subject"]</label>
        <SfTextBox @bind-Value="_email.Subject" Placeholder="@Localizer["Subject"]" />
    </div>

    <div class="form-group">
        <label>@Localizer["Body"]</label>
        <SfTextBox Multiline="true" @bind-Value="_email.Body" Placeholder="@Localizer["Body"]" />
    </div>

    <SfButton Type="submit" CssClass="e-primary float-right">@Localizer["SendEmail"]</SfButton>    
</EditForm>

<div style="display: none;" class="@_sentClass">
    @Localizer["SupportSentEmailSuccess"]
</div>

@code  {
    private EmailSupportDto _email = new EmailSupportDto();

    private string _sentClass = "";

    private async Task OnSubmit()
    {
        var response = await Http.PostAsJsonAsync("api/email/support", _email);
        var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponseDto>();

        if (apiResponse.StatusCode == Status200OK)
        {
            ShowSuccess();
        }
        else
        {
            superService.ShowError(@Localizer["EmailSentFailed"], apiResponse.Message);
        }
    }

    private void ShowSuccess()
    {
        _sentClass = "sent";
    }
}
