﻿@page "/dashboard/custom/2"
@attribute [Authorize]

@using Monitoring.Shared.Dto;
@using Monitoring.Client.Utils

@using Newtonsoft.Json
@using System.Threading

@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.CircularGauge

@inject IJSRuntime JsRuntime
@inject HttpClient Http
@inject ISuperService superService
@inject NavigationManager NavigationManager

@implements IDisposable 

<BackButton Url="/dashboards" />

@if (isLoading)
{
    <Loading>@Localizer["Loading"]</Loading>
}
else
{
    <div class="dashboard">
        <h1>@_dashboardDto.DisplayName</h1>
        <SfDashboardLayout CellSpacing="@(new double[]{ 25, 25 })" CellAspectRatio="1.8" Columns="8" MediaQuery="max-width: 700px">
            <DashboardLayoutPanels>
                <DashboardLayoutPanel SizeX="2" SizeY="2" Row="0">
                    <ContentTemplate>
                        @{
                            var val = Math.Round(GetLastData(_sensorO1) / 1000 * 100, 0);
                        }
                        <SfCircularGauge Height="180px">
                            <CircularGaugeAxes>
                                <CircularGaugeAxis StartAngle="270" EndAngle="90">
                                    <CircularGaugeAxisMajorTicks Interval="25"></CircularGaugeAxisMajorTicks>
                                    <CircularGaugePointers>
                                        <CircularGaugePointer Value="@val" Radius="55%" PointerWidth="12">
                                            <CircularGaugeCap Radius="6" />
                                        </CircularGaugePointer>
                                    </CircularGaugePointers>
                                    <CircularGaugeAnnotations>
                                        <CircularGaugeAnnotation Angle="325" Radius="162%" ZIndex="1">
                                            <ContentTemplate>
                                                <div class="custom-annotation">@_sensorInfo[_sensorO1].DisplayName</div>
                                            </ContentTemplate>
                                        </CircularGaugeAnnotation>
                                        <CircularGaugeAnnotation Angle="195" ZIndex="1">
                                            <ContentTemplate>
                                                <div class="custom-annotation">@val %</div>
                                            </ContentTemplate>
                                        </CircularGaugeAnnotation>
                                    </CircularGaugeAnnotations>
                                    <CircularGaugeRanges>
                                        <CircularGaugeRange Start="25" End="100" Color="green">
                                        </CircularGaugeRange>
                                        <CircularGaugeRange Start="12.5" End="25" Color="orange">
                                        </CircularGaugeRange>
                                        <CircularGaugeRange Start="0" End="12.5" Color="red">
                                        </CircularGaugeRange>
                                    </CircularGaugeRanges>
                                </CircularGaugeAxis>
                            </CircularGaugeAxes>
                        </SfCircularGauge>
                    </ContentTemplate>
                </DashboardLayoutPanel>
                <DashboardLayoutPanel SizeX="2" SizeY="2" Row="0" Col="3">
                    <ContentTemplate>
                        @{
                            var val = GetLastData(_sensorWT1);
                        }
                        <SfCircularGauge Height="170px">
                            <CircularGaugeAxes>
                                <CircularGaugeAxis StartAngle="270" EndAngle="90" Minimum="0" Maximum="100" ShowLastLabel="true">
                                    <CircularGaugeAxisLabelStyle Format="{value}°C"></CircularGaugeAxisLabelStyle>
                                    <CircularGaugeAxisMajorTicks Interval="50"></CircularGaugeAxisMajorTicks>
                                    <CircularGaugePointers>
                                        <CircularGaugePointer Value="@val" Radius="50%" PointerWidth="12">
                                            <CircularGaugeCap Radius="6" />
                                        </CircularGaugePointer>
                                    </CircularGaugePointers>
                                    <CircularGaugeAnnotations>
                                        <CircularGaugeAnnotation Angle="325" Radius="162%" ZIndex="1">
                                            <ContentTemplate>
                                                <div class="custom-annotation">@_sensorInfo[_sensorWT1].DisplayName</div>
                                            </ContentTemplate>
                                        </CircularGaugeAnnotation>
                                        <CircularGaugeAnnotation Angle="195" ZIndex="1">
                                            <ContentTemplate>
                                                <div class="custom-annotation">@val °C</div>
                                            </ContentTemplate>
                                        </CircularGaugeAnnotation>
                                    </CircularGaugeAnnotations>
                                    <CircularGaugeRanges>
                                        <CircularGaugeRange Start="20" End="80" Color="green">
                                        </CircularGaugeRange>
                                        <CircularGaugeRange Start="0" End="20" Color="red">
                                        </CircularGaugeRange>
                                        <CircularGaugeRange Start="80" End="100" Color="red">
                                        </CircularGaugeRange>
                                    </CircularGaugeRanges>
                                </CircularGaugeAxis>
                            </CircularGaugeAxes>
                        </SfCircularGauge>
                    </ContentTemplate>
                </DashboardLayoutPanel>
                <DashboardLayoutPanel SizeX="1" SizeY="2" Row="0" Col="5">
                    <ContentTemplate>
                        <div class="group">
                            <div class="header1">@_sensorInfo[_sensorW1].DisplayName</div>
                            <div>@GetLastData(_sensorW1) @_sensorInfo[_sensorW1].SensorModel.Unit.Symbol</div>
                            <div>@GetLastData(_sensorWT1) @_sensorInfo[_sensorWT1].SensorModel.Unit.Symbol</div>
                        </div>
                        <div class="group">
                            <div class="header1">@_sensorInfo[_sensorO1].DisplayName</div>
                            <div>@GetLastData(_sensorO1) @_sensorInfo[_sensorO1].SensorModel.Unit.Symbol</div>
                        </div>
                    </ContentTemplate>
                </DashboardLayoutPanel>
                <DashboardLayoutPanel SizeX="1" SizeY="2" Row="0">
                    <ContentTemplate>
                        <div class="group">
                            <div class="header1">@_sensorInfo[_sensorE1].DisplayName</div>
                            <div>@GetLastData(_sensorE1) @_sensorInfo[_sensorE1].SensorModel.Unit.Symbol</div>
                        </div>
                        <div class="group">
                            <div class="header1">@_sensorInfo[_sensorE2].DisplayName</div>
                            <div>@GetLastData(_sensorE2) @_sensorInfo[_sensorE2].SensorModel.Unit.Symbol</div>
                        </div>
                    </ContentTemplate>
                </DashboardLayoutPanel>
                <DashboardLayoutPanel Col="0" SizeX="3" SizeY="4" Row="2">
                    <ContentTemplate>
                        <SfChart Title="@Localizer[_sensorInfo[_sensorE1].SensorModel.SensorType.Name]" Height="82%">
                            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime" LabelFormat="dd.MM HH:mm"></ChartPrimaryXAxis>
                            <ChartPrimaryYAxis LabelFormat="@FormatYAxis(@_sensorInfo[_sensorE1].SensorModel.Unit.Symbol)">
                                <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                                <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                            </ChartPrimaryYAxis>
                            <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                            <ChartSeriesCollection>
                                <ChartSeries DataSource="@_sensorData[_sensorE1]" Name="@_sensorInfo[_sensorE1].DisplayName" XName="Time" YName="Data" Type="ChartSeriesType.Line" Width="2" />
                                <ChartSeries DataSource="@_sensorData[_sensorE2]" Name="@_sensorInfo[_sensorE2].DisplayName" XName="Time" YName="Data" Type="ChartSeriesType.Line" Width="2" />
                            </ChartSeriesCollection>

                            <ChartLegendSettings Visible="true"></ChartLegendSettings>
                        </SfChart>
                    </ContentTemplate>
                </DashboardLayoutPanel>
                <DashboardLayoutPanel Col="3" SizeX="3" SizeY="4" Row="2">
                    <ContentTemplate>
                        <SfChart Title="@Localizer[_sensorInfo[_sensorT1].SensorModel.SensorType.Name]" Height="82%">
                            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime" LabelFormat="dd.MM HH:mm"></ChartPrimaryXAxis>
                            <ChartPrimaryYAxis LabelFormat="@FormatYAxis(@_sensorInfo[_sensorT1].SensorModel.Unit.Symbol)" Minimum="0">
                                <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                                <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                            </ChartPrimaryYAxis>
                            <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                            <ChartSeriesCollection>
                                <ChartSeries DataSource="@_sensorData[_sensorT1]" Name="@_sensorInfo[_sensorT1].DisplayName" XName="Time" YName="Data" Type="ChartSeriesType.Line" Width="2" />
                            </ChartSeriesCollection>

                            <ChartLegendSettings Visible="true"></ChartLegendSettings>
                        </SfChart>
                    </ContentTemplate>
                </DashboardLayoutPanel>
            </DashboardLayoutPanels>
        </SfDashboardLayout>
    </div>
}

@code  {
    private Dictionary<int, List<SensorDataDto>> _sensorData;
    private Dictionary<int, SensorDto> _sensorInfo;
    private bool isLoading = true;
    private DashboardDto _dashboardDto;
    private Timer _timer;

    private int _sensorE1 = 1;
    private int _sensorO1 = 2;
    private int _sensorE2 = 3;
    private int _sensorT1 = 4;
    private int _sensorW1 = 5;
    private int _sensorWT1 = 6;

    protected override async Task OnInitializedAsync()
    {
        var apiResponse = await Http.GetFromJsonAsync<ApiResponseDto>("api/dashboard/" + 2);
        if (apiResponse.StatusCode != Status200OK)
        {
            superService.ShowError("Data retrieval Failed");
            return;
        }
        _dashboardDto = JsonConvert.DeserializeObject<DashboardDto>(apiResponse.Result.ToString());

        var now = DateTime.UtcNow;

        var tasks = new Dictionary<int, Task<ApiResponseDto>>();

        tasks[_sensorE1] = Http.GetFromJsonAsync<ApiResponseDto>(GetDataUrl(_sensorE1, now.AddHours(-6), now));
        tasks[3] = Http.GetFromJsonAsync<ApiResponseDto>(GetDataUrl(3, now.AddHours(-6), now));
        tasks[2] = Http.GetFromJsonAsync<ApiResponseDto>(GetDataUrl(2, now.AddHours(-0.5), now));
        tasks[4] = Http.GetFromJsonAsync<ApiResponseDto>(GetDataUrl(4, now.AddHours(-6), now));
        tasks[5] = Http.GetFromJsonAsync<ApiResponseDto>(GetDataUrl(5, now.AddHours(-0.5), now));
        tasks[6] = Http.GetFromJsonAsync<ApiResponseDto>(GetDataUrl(6, now.AddHours(-0.5), now));

        var info = new Dictionary<int, Task<ApiResponseDto>> {

        { 1, Http.GetFromJsonAsync<ApiResponseDto>("api/sensor/" + 1)},
        { 2, Http.GetFromJsonAsync<ApiResponseDto>("api/sensor/" + 2)},
        { 3, Http.GetFromJsonAsync<ApiResponseDto>("api/sensor/" + 3)},
        { 4, Http.GetFromJsonAsync<ApiResponseDto>("api/sensor/" + 4)},
        { 5, Http.GetFromJsonAsync<ApiResponseDto>("api/sensor/" + 5)},
        { 6, Http.GetFromJsonAsync<ApiResponseDto>("api/sensor/" + 6)}
    };

        try
        {
            await Task.WhenAll(tasks.Values.Concat(info.Values));
        }
        catch (Exception)
        {
            superService.ShowError("Data retrieval Failed");
            isLoading = false;
            return;
        }
        _sensorData = new Dictionary<int, List<SensorDataDto>>();
        foreach (var t in tasks)
        {
            var res = t.Value.Result;
            var data = JsonConvert.DeserializeObject<List<SensorDataDto>>(res.Result.ToString());
            data.ForEach(a =>
            {
                a.Time = a.Time.ToLocalTime();
            });
            _sensorData.Add(t.Key, data);
        }
        _sensorInfo = new Dictionary<int, SensorDto>();
        foreach (var t in info)
        {
            var res = t.Value.Result;
            var data = JsonConvert.DeserializeObject<SensorDto>(res.Result.ToString());
            _sensorInfo.Add(t.Key, data);
        }
        isLoading = false;
    }

    private string GetDataUrl(int sensorId, DateTime from, DateTime to)
    {
        string formattedFrom = UrlHelper.GetUrlDateTime(from);
        string formattedTo = UrlHelper.GetUrlDateTime(to);

        return $"api/data/raw?sensorId={sensorId}&from={formattedFrom}&to={formattedTo}";
    }

    private string GetLastDataUrl(int sensorId)
    {
        return $"api/data/last?sensorId={sensorId}";
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        _timer = new Timer(async _ =>
        {
            var tasks = new Dictionary<int, Task<ApiResponseDto>>();

            var now = DateTime.UtcNow;
            tasks[_sensorE1] = Http.GetFromJsonAsync<ApiResponseDto>(GetDataUrl(_sensorE1, now.AddHours(-6), now));
            tasks[3] = Http.GetFromJsonAsync<ApiResponseDto>(GetDataUrl(3, now.AddHours(-6), now));
            tasks[2] = Http.GetFromJsonAsync<ApiResponseDto>(GetDataUrl(2, now.AddHours(-0.5), now));
            tasks[4] = Http.GetFromJsonAsync<ApiResponseDto>(GetDataUrl(4, now.AddHours(-6), now));
            tasks[5] = Http.GetFromJsonAsync<ApiResponseDto>(GetDataUrl(5, now.AddHours(-0.5), now));
            tasks[6] = Http.GetFromJsonAsync<ApiResponseDto>(GetDataUrl(6, now.AddHours(-0.5), now));

            await Task.WhenAll(tasks.Values);

            _sensorData = new Dictionary<int, List<SensorDataDto>>();
            foreach (var t in tasks)
            {
                var res = t.Value.Result;
                var data = JsonConvert.DeserializeObject<List<SensorDataDto>>(res.Result.ToString());
                data.ForEach(a =>
                {
                    a.Time = a.Time.ToLocalTime();
                });
                _sensorData.Add(t.Key, data);
            }

            // Note that the following line is necessary because otherwise
            // Blazor would not recognize the state change and not refresh the UI
            await InvokeAsync(() => StateHasChanged());

        }, null, 1000 * 60, 1000 * 60);
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/dashboards", forceLoad: false);
    }

    private string FormatYAxis(string symbol)
    {
        return "{value} " + symbol;
    }

    private double GetLastData(int sensorId)
    {
        if (_sensorData[sensorId].Count > 0)
        {
            return _sensorData[sensorId][_sensorData[sensorId].Count - 1].Data;
        }

        return -1;
    }

    public void Dispose()
    {
        _timer?.Dispose();
    }
}