﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

app {
    position: relative;
    display: flex;
    height: 100%;
}

/** scroll bar */

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #e1e1e1;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-image: linear-gradient(to bottom, rgba(17, 17, 17, 1) 0%, rgba(76, 76, 76, 1) 23%, rgba(76, 76, 76, 1) 23%, rgba(71, 71, 71, 1) 72%, rgba(17, 17, 17, 1) 99%);
}

/* login */

.login-container {
    display: flex;
    padding-top: 5rem;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: #f7f7f7;
}

.login-container .login-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container .login-body .e-card {
    padding: 1.2rem 1rem;
}

.login-container .login-body .e-card-header {
    font-size: 20px;
}

.login-container .login-body .e-card .form-signin {
    width: 230px;
}

.login-container .login-body .e-card .form-signin {
    padding-top: 8px;
}

.login-error {
    width: calc(100% - 54px);
}

.validation-message {
    color: red;
}

.login-container .login-body .e-card:hover, .login-container .e-card:active {
    border: 1px solid rgba(0, 0, 0, 0.12)
}

#spinner .e-spinner-pane {
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1100;
}

#spinner .e-spinner-pane .e-spinner-inner {
    z-index: 1100;
}

/* Main layout */

.header {
    display: flex;
    align-items: center;
    color: white;
    background-color: slategray;
    width: 100%;
    height: 56px;
    box-shadow: 8px 0px 11px 1px grey;
    position: fixed;
}

.header .header-right {
    display: flex;
    margin-left: auto;
    margin-right: 3px;
}

.header .oi {
    font-size: 24px;
    margin: 0 3px;
}

.oi-menu {
    padding-bottom: 4px;
}

/* @media screen and (max-width: 600px) {
    .e-sidebar {
        margin-top: 56px;
    }
} */

.e-sidebar {
    background-color: #343a3a;
    box-shadow: 1px 3px 11px 2px grey;
    z-index: inherit;
}

.e-sidebar .e-menu-wrapper {
    width: 100%;
}

.e-sidebar .e-menu-wrapper ul {
    background-color: inherit;
    font-size: 16px;
}

.e-sidebar.e-left {
    border-right: none;
}

.e-sidebar .e-menu-wrapper ul li.section {
    display: flex;
    height: auto;
    line-height: 30px;
    pointer-events: none;
    color: white;
    text-transform: uppercase;
    align-items: baseline;
}

.e-sidebar .e-menu-wrapper ul li.section .icon {
    font-size: 14px;
    height: auto;
    line-height: 30px;
    margin-right: 8px;
    text-align: center;
    width: auto;
}

.e-sidebar .e-menu-wrapper ul li.sub {
    padding-left: 10px;
}

.e-sidebar .e-menu-wrapper ul li.e-menu-item {
    display: flex;
    align-items: center;
    height: auto;
    padding: 0 0 0 0;
}

.e-sidebar .e-menu-wrapper ul li.e-menu-item.active a.e-menu-url, .e-sidebar .e-menu-wrapper ul li:hover {
    background-color: black;
    color: white;
}

.e-sidebar .e-menu-wrapper ul li:hover {
    font-weight: 600;
    letter-spacing: 0.6px;
}

.e-sidebar .e-menu-wrapper ul li a.e-menu-url {
    color: #d6d6d6;
    display: block;
    width: 100%;
    padding: 5px 20px;
}

.e-menu-wrapper ul.e-menu {
    display: block;
}

.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-header a {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 1em 0;
    display: block;
}

.sidebar-content {
    flex: 1 0 auto;
}

.sidebar-footer {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    border-top: solid 1px #AAA;
    font-size: 12px;
    background-color: lightgray;
}

.sidebar-footer .e-btn {
    color: black;
}

.e-sidebar.e-left.e-open {
    position: fixed;
    height: calc(100% - 56px);
    margin-top: 56px;
}

.e-sidebar.e-left.e-transition.e-close {
    position: fixed;
    height: calc(100% - 56px);
    margin-top: 56px;
}

.main {
    width: 100%;
    margin-top: 56px;
}

.main .container-fluid {
    height: calc(100% - 56px);
    width: auto;
}

/* dashboard */

.dashboard {
    width: 95%;
}

.dashboard .e-panel {
    padding: 1.5em;
}

.dashboard .e-panel .header1 {
    font-size: 20px;
    font-weight: bold;
}

.dashboard .e-panel .custom-annotation {
    font-size: 16px;
}

.dashboard .e-panel .group {
    margin-bottom: 1rem;
    font-size: 16px;
}

/* Sensor */

.filter-settings {
    margin: 5px 0px;
    display: flex;
}

.filter-settings .picker {
    width: 180px;
    margin-right: 1em;
}

.chart-tooltip {
    background-color: mediumpurple;
    padding: 10px;
    border-radius: 5px;
    filter: brightness(1.3);
    border: 1px solid black;
}

.e-chart text {
    fill: black;
}

/* Profile */

.profile-field {
    width: 300px;
}

/* Dashboards & locations */

.locations-container, .dashboards-container {
    display: flex;
    flex-wrap: wrap;
}

.locations-container .e-card, .dashboards-container .e-card {
    cursor: pointer;
}

.dashboards-container .e-card e.card-header {
    font-weight: 500;
}

.dashboards-container e.card:hover {
    filter: brightness(85%);
}

.locations-container .e-card .e-card-image {
    height: 280px;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 2px 6px 5px rgba(0, 0, 0, 0.25);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, gray, lightgray);
    height: 100vh;
    width: 100%;
}

.loading-container .text {
    margin-bottom: 2rem;
    color: white;
    font-size: 18px;
}

/* support page */

form.sent {
    display: none;
}

div.sent {
    display: block !important;
}

/* sf override */

.e-transparent {
    background-color: transparent;
    border-color: transparent;
}

.e-dlg-container .e-dialog {
    max-height: none !important;
}

.e-icons.e-add:before {
    content: '\e759';
}

.e-icons.e-delete:before {
    content: '\e773';
}

.e-icons.e-edit:before {
    content: '\e78f';
}

/* spinner  */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

div.e-anchor-wrap {
    display: flex;
    align-items: baseline;
}

a.detail {
    text-decoration: underline;
    color: black;
    font-weight: 600;
}

.e-menu-wrapper ul .e-menu-item .e-menu-icon {
    color: white;
    width: 14px;
}

.e-ddl.culture-selector {
    border: 0;
    background: none;
    width: 55px !important;
    color: white;
    align-items: center;
    font-size: 20px;
    padding-top: 4px;
}

.e-ddl.culture-selector span.e-ddl-icon {
    display: none;
}

.e-ddl.culture-selector:active {
    border: 0;
    box-shadow: none !important;
}

.e-ddl.culture-selector .e-input[readonly] {
    color: white;
    font-weight: 600;
}

.e-ddl.ddl-server-popup.culture-selector.e-popup-open li {
    padding: 0;
}

.image-container {
    display: flex;
    flex-direction: column;
}

.image {
    max-width: 100%;
    height: 400px;
    object-fit: contain;
}

.culture-tooltip {
    display: flex;
}

.back-button {
    display: inline-flex;
    align-items: baseline;
    margin: 4px 8px;
}

.buttons-toolbar {
    padding: 8px 0;
}

.loader-container {
    text-align: center;
    margin-top: 15vh;
}

.loader, .loader:after {
    border-radius: 50%;
    width: 8em;
    height: 8em;
}

.loader {
    margin: 45px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.7em solid rgba(1, 121, 209, 0.2);
    border-right: 0.7em solid rgba(1, 121, 209, 0.2);
    border-bottom: 0.7em solid rgba(1, 121, 209, 0.2);
    border-left: 0.7em solid #0179d1;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}