﻿@inherits LayoutComponentBase
@*@attribute [Authorize]*@

@inject NavigationManager navigationManager

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons

<AuthorizeView>
    <Authorized>
        <SfSidebar Width="256px" @ref="_sidebar" Type="SidebarType.Auto" Target=".main">
            <ChildContent>
                <div class="sidebar-wrapper">
                    <div class="sidebar-header">
                        <a href="/">Monitoring</a>
                    </div>
                    <div class="sidebar-content">
                        <NavMenu />
                    </div>
                    <footer class="sidebar-footer">
                        <SfButton CssClass="e-transparent" IconCss="oi oi-question-mark" IconPosition="IconPosition.Left" @onclick="@ContactSupport">
                            @Localizer["ContactSupport"]
                        </SfButton>
                    </footer>
                </div>
            </ChildContent>
        </SfSidebar>
        <div class="header">
            <div>
                <SfButton CssClass="e-transparent" IconCss="oi oi-menu" @onclick="@SidebarToggle" />
            </div>
            <div class="header-right">
                <CultureSelector />
                <UserProfileButton />
                <LogoutButton />
            </div>
        </div>
    </Authorized>
</AuthorizeView>
<div class="main">
    <div class="container-fluid">
        @Body
    </div>
</div>
<TokenChecker />

@code{
    private SfSidebar _sidebar;

    private void SidebarToggle()
    {
        _sidebar.Toggle();
    }

    private void ContactSupport()
    {
        navigationManager.NavigateTo("support");
    }
}
