﻿@page "/admin/roles"

@attribute [Authorize(Policy = Policies.IsAdmin)]

@inject HttpClient Http
@inject IAuthorizationService AuthorizationService
@inject AuthenticationStateProvider authStateProvider
@inject ISuperService superService

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Popups

<h1>@Localizer["Roles"]</h1>

<div class="buttons-toolbar">
    <SfButton @onclick="OnCreateButtonClick" CssClass="e-outline" IconCss="e-icons e-add">@Localizer["Add"]</SfButton>
    <SfButton @onclick="OnEditButtonClick" CssClass="e-outline" Disabled="@IsDeleteButtonDisabled" IconCss="e-icons e-edit">@Localizer["Edit"]</SfButton>
    <SfButton @onclick="OnDeleteButtonClick" CssClass="e-outline" Disabled="@IsDeleteButtonDisabled" IconCss="e-icons e-delete">@Localizer["Delete"]</SfButton>
</div>

<SfGrid @ref="grid" TValue="RoleDto" AllowPaging="true">
    <GridEvents RowSelected="RowSelectHandler"
                RowDeselected="RowDeselectHandler"
                OnActionFailure="ActionFailureHandler"
                TValue="RoleDto" />
    <SfDataManager Url="api/Admin/Roles" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
    <GridColumns>
        <GridColumn Field=@nameof(RoleDto.Name) HeaderText="@Localizer["Name"]" Width="200px" />
        <GridColumn Field=@nameof(RoleDto.Permissions) HeaderText="@Localizer["Permissions"]">
            <Template>
                <div class="e-control e-chip-list e-lib e-chip-set" role="listbox" aria-multiselectable="false">
                    @{
                        var roleDto = (context as RoleDto);
                        foreach (var permission in roleDto.Permissions)
                        {
                            <div class="e-chip e-focus" tabindex="0" role="option" aria-label="Threshold Update" aria-selected="false" data-value=""><!--!-->
                                <span class="e-chip-text">@permission</span><!--!-->
                            </div>
                        }
                    }     
                </div>
                @* <SfChipList>
                    <ChipCollection>
                        @{
                            var roleDto = (context as RoleDto);
                            foreach (var permission in roleDto.Permissions)
                            {
                                @permission
                                <ChipListChip Text="@permission" />
                            }
                        }
                    </ChipCollection>
                </SfChipList> *@
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>

<SfDialog Width="600px" IsModal="true" ShowCloseIcon="true" @bind-Visible="createDialogOpen">
    <DialogTemplates>
        <Header>@Localizer["Create"]</Header>
        <Content>
            <EditForm Model="@entity" OnValidSubmit="CreateAsync">
                <FluentValidator />

                <fieldset>
                    <div class="form-group">
                        <label>@Localizer["Name"]</label>
                        <SfTextBox @bind-Value="@entity.Name" />
                        <ValidationMessage For="@(() => @entity.Name)" />
                    </div>
                    <div class="form-group">
                        <SfMultiSelect TValue="IEnumerable<string>" @bind-Value="@entity.Permissions" Placeholder="@Localizer["SelectRole"]" DataSource="@permissions" />
                    </div>

                    <div class="form-group">
                        <SfButton CssClass="e-primary float-right" Type="submit">@Localizer["Create"]</SfButton>
                    </div>
                </fieldset>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

<SfDialog Width="600px" IsModal="true" ShowCloseIcon="true" @bind-Visible="editDialogOpen">
    <DialogTemplates>
        <Header>@Localizer["Edit"]</Header>
        <Content>
            <EditForm Model="@entity" OnValidSubmit="EditAsync">
                <FluentValidator />

                <fieldset>
                    <div class="form-group">
                        <label>@Localizer["Name"]</label>
                        <SfTextBox @bind-Value="@entity.Name" />
                        <ValidationMessage For="@(() => @entity.Name)" />
                    </div>

                    <div class="form-group">
                        <SfMultiSelect TValue="IEnumerable<string>" @bind-Value="@entity.Permissions" Placeholder="@Localizer["SelectRole"]" DataSource="@permissions" />
                    </div>
                    <div class="form-group">
                        <SfButton CssClass="e-primary float-right" Type="submit">@Localizer["Edit"]</SfButton>
                    </div>
                </fieldset>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

<SfDialog Width="400px" IsModal="true" ShowCloseIcon="true" @bind-Visible="deleteDialogOpen">
    <DialogTemplates>
        <Header>@Localizer["DeleteConfirm"]</Header>
        <Content>
            @Localizer["DeleteSure"]
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton OnClick="DeleteAsync" Content="@Localizer["Delete"]" IsPrimary="true" />
    </DialogButtons>
</SfDialog>

@code {
    SfGrid<RoleDto> grid;
    private RoleDto entity = new RoleDto();
    private RoleDto selectedEntity;

    List<string> permissions;

    bool IsDeleteButtonDisabled = true;
    bool createDialogOpen = false;
    bool editDialogOpen = false;
    bool deleteDialogOpen = false;

    protected override async Task OnInitializedAsync() {
        var response = await Http.GetFromJsonAsync<ApiResponseDto>("api/Admin/Permissions");
        if (response.StatusCode == Status200OK) {
            permissions = Newtonsoft.Json.JsonConvert.DeserializeObject<List<string>>(response.Result.ToString());
        }
    }

    public void ActionFailureHandler(Syncfusion.Blazor.Grids.FailureEventArgs args)
    {
        superService.ShowError(@Localizer["ErrorOccurred"]);
    }

    public void RowSelectHandler(RowSelectEventArgs<RoleDto> args)
    {
        IsDeleteButtonDisabled = false;
        selectedEntity = args.Data;
    }

    public void RowDeselectHandler(RowDeselectEventArgs<RoleDto> args)
    {
        IsDeleteButtonDisabled = true;
        selectedEntity = null;
    }

    public void OnCreateButtonClick()
    {
        entity = new RoleDto{Permissions = Array.Empty<string>()};
        createDialogOpen = true;
    }

    public void OnEditButtonClick()
    {
        entity = selectedEntity;
        editDialogOpen = true;
    }

    public void OnDeleteButtonClick()
    {
        deleteDialogOpen = true;
    }

    public async Task CreateAsync()
    {
        try
        {
            superService.ShowSpinner();
            var response = await Http.PostAsJsonAsync("api/admin/role", entity);
            var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponseDto>();
            superService.HideSpinner();
            if (apiResponse.StatusCode == Status200OK)
            {
                entity = new RoleDto();
                grid.Refresh();
                createDialogOpen = false;
                superService.ShowSuccess(@Localizer["CreateSuccess"]);
            }
            else
            {
                superService.ShowError(@Localizer["CreateFailure"], apiResponse.Message);
            }
        }
        catch (Exception ex)
        {
            superService.HideSpinner();
            superService.ShowError(@Localizer["CreateFailure"], ex.Message);
        }
    }

    public async Task EditAsync()
    {
        try
        {
            if (entity.Permissions == null) {
                entity.Permissions = System.Array.Empty<string>();
            }
            superService.ShowSpinner();
            var response = await Http.PutAsJsonAsync($"api/admin/role", entity);
            var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponseDto>();
            superService.HideSpinner();
            if (apiResponse.StatusCode == Status200OK)
            {
                entity = new RoleDto();
                grid.Refresh();
                editDialogOpen = false;
                superService.ShowSuccess(@Localizer["EditSuccess"]);
            }
            else
            {
                superService.ShowError(@Localizer["EditFailure"], apiResponse.Message);
            }
        }
        catch (Exception ex)
        {
            superService.HideSpinner();
            superService.ShowError(@Localizer["EditFailure"], ex.Message);
        }
    }

    public async Task DeleteAsync()
    {
        try
        {
            superService.ShowSpinner();
            var record = await grid.GetSelectedRecords();
            var response = await Http.DeleteAsync("api/Admin/Role/" + record[0].Name);
            var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponseDto>();
            superService.HideSpinner();
            if (apiResponse.StatusCode == Status200OK)
            {
                grid.Refresh();
                deleteDialogOpen = false;
                superService.ShowSuccess(@Localizer["DeleteSuccess"]);
            } else {
                superService.ShowError(@Localizer["DeleteFailure"]);
            }
        }
        catch (Exception ex)
        {
            superService.HideSpinner();
            superService.ShowError(@Localizer["DeleteFailure"], ex.Message);
        }
    }

}
