﻿@page "/admin/sensor/{Id:int}"

@attribute [Authorize(Policy = Policies.IsAdmin)]

@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Inputs
@using Blazored.LocalStorage;
@using System.Globalization

@inject HttpClient Http
@inject IJSRuntime JS
@inject ISuperService superService
@inject ISyncLocalStorageService localStorage

<h1>@Localizer["Sensor"]</h1>
@if (_sensor == null)
{
<Loading>@Localizer["Loading"]</Loading>
}
else
{
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div>@Localizer["Location"]: @_sensor.Location.DisplayName</div>
            <div>@Localizer["SensorType"]: @_sensor.SensorModel.SensorType.Name</div>
            <div>@Localizer["SensorModel"]</div>
            <div>
                <ul>
                    @{ var url = "/admin/sensorModel/" + @_sensor.SensorModel.Id; }
                    <li>@Localizer["Id"]: <a href="@url">@_sensor.SensorModel.Id</a></li>
                    <li>@Localizer["Manufacturer"]: @_sensor.SensorModel.Manufacturer</li>
                    <li>@Localizer["Model"]: @_sensor.SensorModel.Model</li>
                </ul>
                <EditForm Model="@_sensor" OnValidSubmit="@UpdateUser">
                    <DataAnnotationsValidator />
                    <fieldset>
                        <div class="form-group">
                            <label>@Localizer["Name"]</label>
                            <SfTextBox @bind-Value="@_sensor.Name" />
                            <ValidationMessage For="@(() => _sensor.Name)" />
                        </div>
                        <div class="form-group">
                            <label>@Localizer["InstallationDate"]</label>
                            <SfDatePicker @bind-Value="@_sensor.InstallationDate" Format="dd.MM.yyyy" StrictMode="true" />
                        </div>
                        <div class="form-group">
                            <label>@Localizer["RevisionDate"]</label>
                            <SfDatePicker @bind-Value="@_sensor.RevisionDate" Format="dd.MM.yyyy" StrictMode="true" />
                        </div>
                        <div class="form-group">
                            <label>@Localizer["Note"]</label>
                            <SfTextBox @bind-Value="@_sensor.Note" Multiline="true" />
                        </div>
                        <div class="form-group d-flex justify-content-end">
                            <SfButton IsPrimary="true" Type="submit">@Localizer["Update"]</SfButton>
                        </div>
                    </fieldset>
                </EditForm>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 image-container">
            <img class="image" src="@imagePath" alt="Sensor image" />
            <SfUploader ID="UploadFiles" AllowedExtensions=".png,.jpg,.jpeg" Multiple="false" MaxFileSize="10_000_000" Locale="@CultureInfo.CurrentCulture.Name">
                <UploaderEvents FileSelected="OnFileSelected" Success="@OnSuccessfulUpload" />
                <UploaderAsyncSettings SaveUrl="api/Upload"></UploaderAsyncSettings>
            </SfUploader>
        </div>
    </div>
}

@code  {
    [Parameter]
    public int Id { get; set; }

    private string type = "sensors";
    private SensorDto _sensor;
    private string imagePath;

    public void OnSuccessfulUpload(SuccessEventArgs args)
    {
        imagePath = imagePath.Split('?')[0] + "?" + DateTimeOffset.UtcNow.ToUnixTimeSeconds();
    }

    public void OnFileSelected(SelectedEventArgs args)
    {
        var token = localStorage.GetItem<string>("authToken");
        args.CurrentRequest = new List<object> {
            new { Authorization = "bearer " + token },
            new { FileName = GetFileName() },
            new { SubFolder = type }
        };
    }

    private string GetFileName()
    {
        return $"s{Id}.jpg";
    }

    private string GetPath()
    {
        return "images/" + type + "/" + GetFileName();
    }

    protected override async Task OnInitializedAsync()
    {
        var apiResponse = await Http.GetFromJsonAsync<ApiResponseDto>("api/sensor/" + Id);
        if (apiResponse.StatusCode == Status200OK)
        {
            _sensor = Newtonsoft.Json.JsonConvert.DeserializeObject<SensorDto>(apiResponse.Result.ToString());
            imagePath = GetPath();
        }
        else
        {
            superService.ShowError(Localizer["ErrorOccurred"], apiResponse.Message);
            return;
        }
    }

    private async Task UpdateUser()
    {
        try
        {
            var response = await Http.PutAsJsonAsync("/api/sensor", _sensor);
            var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponseDto>();

            if (apiResponse.StatusCode == Status200OK)
            {
                superService.ShowSuccess(Localizer["UpdateSuccess"]);
            }
            else
            {
                superService.ShowError(Localizer["UpdateFailure"], apiResponse.Message);
            }
        }
        catch (Exception ex)
        {
            superService.ShowError(Localizer["UpdateFailure"], ex.Message);
        }
    }
}
