﻿@page "/account/login"

@using Monitoring.Shared.Dto.Account
@using Monitoring.Client.Extensions
@using static Microsoft.AspNetCore.Http.StatusCodes
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Buttons

@layout LoginLayout
@inject NavigationManager navigationManager
@inject IAuthorizeApi AuthorizeApi
@inject ISuperService superService

<h1 class="h2 font-weight-normal login-title">
    Monitoring
</h1>
<div class="login-card">
    <SfCard>
        <CardHeader>@Localizer["Login"]</CardHeader>
        <CardContent>
            <EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="loginParameters">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <SfTextBox @bind-Value="@loginParameters.UserName" Placeholder="@Localizer["UserName"]" FloatLabelType="FloatLabelType.Auto" />
                    <ValidationMessage For="@(() => @loginParameters.UserName)" />
                </div>
                <div class="form-group">
                    <SfTextBox @bind-Value="@loginParameters.Password" Placeholder="@Localizer["Password"]" FloatLabelType="FloatLabelType.Auto" Type="InputType.Password" />
                    <ValidationMessage For="@(() => @loginParameters.Password)" />
                </div>
                <div class="form-group">
                    <SfButton Disabled="@isSubmitButtonDisabled" CssClass="e-primary float-right" Type="submit">@Localizer["Login"]</SfButton>
                </div>
                <label class="login-error text-danger">@error</label>
            </EditForm>
        </CardContent>
    </SfCard>
</div>

@code{
    bool isSubmitButtonDisabled = false;
    LoginDto loginParameters { get; set; } = new LoginDto();
    string error { get; set; }

    [CascadingParameter]
    Task<AuthenticationState> authenticationStateTask { get; set; }

    //protected override async Task OnParametersSetAsync()
    //{
    //    var user = (await authenticationStateTask).User;

    //    if (user.Identity.IsAuthenticated)
    //    {
    //        navigationManager.NavigateTo("/");
    //    }
    //}

    private async Task OnSubmit()
    {
        superService.ShowSpinner();
        isSubmitButtonDisabled = true;
        error = null;
        try
        {
            var isReturnUrlDefined = navigationManager.TryGetQueryString<string>("returnUrl", out var returnUrl);
            var response = await AuthorizeApi.Login(loginParameters);

            if (response.StatusCode == Status200OK)
            {
                Console.WriteLine(returnUrl);
                Console.WriteLine(isReturnUrlDefined);
                if (isReturnUrlDefined)
                {
                    navigationManager.NavigateTo($"/{returnUrl}", true);
                }
                else
                {
                    navigationManager.NavigateTo("");
                }
            }
            else
            {
                error = response.Message;
            }
            isSubmitButtonDisabled = false;
            superService.HideSpinner();
        }
        catch (Exception ex)
        {
            isSubmitButtonDisabled = false;
            superService.HideSpinner();
            error = ex.Message;
        }
    }
}
