﻿@using Microsoft.AspNetCore.Components

@using Syncfusion.Blazor.Buttons

@inject NavigationManager navigationManager

<div>
    <SfButton CssClass="back-button" IconCss="oi oi-arrow-left e-outline" @onclick="GoBack">
        &nbsp;@Localizer["Back"]
    </SfButton>  
</div>


@code {
    [Parameter]
    public string Url { get; set; }
    
    private void GoBack()
    {
        navigationManager.NavigateTo(Url, forceLoad: false);
    }
}
