@using System.Globalization
@using Blazored.LocalStorage;
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Popups

@inject NavigationManager NavigationManager
@inject ISyncLocalStorageService LocalStorage

<SfTooltip ID="culture-tooltip" Content="@Localizer["ChangeLanguage"]" CssClass="culture-tooltip">
    <SfDropDownList CssClass="culture-selector" TValue="string" TItem="CultureConfig" @bind-Value="@Culture" DataSource="@Cultures">
        <DropDownListFieldSettings Value="CultureName" Text="Code" />
    </SfDropDownList>
</SfTooltip>

@code
{
    private class CultureConfig
    {
        public string CultureName { get; set; }
        public string Code { get; set; }
    }
    private List<CultureConfig> Cultures = Constants.SupportedCultures
        .Select(sp =>
            new CultureConfig { CultureName = sp.Name, Code = new RegionInfo(sp.LCID).TwoLetterISORegionName }
        ).ToList();

    private string Culture
    {
        get
        {
            return CultureInfo.CurrentCulture.Name;
        }
        set
        {
            Console.WriteLine("asdf");
            Console.WriteLine(CultureInfo.CurrentCulture.Name);
            Console.WriteLine(value);
            if (!string.IsNullOrWhiteSpace(value) && CultureInfo.CurrentCulture.Name != value)
            {
                LocalStorage.SetItem("culture", value);
                NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
            }
        }
    }
}