﻿@using Microsoft.AspNetCore.Components

<div class="loader-container">
    <div class="loader">
    </div>
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
