﻿@using Microsoft.AspNetCore.Components

@inject NavigationManager navigationManager

@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups

<SfTooltip ID="logout-tooltip" Content="@Localizer["Logout"]">
    <SfButton CssClass="e-transparent" IconCss="oi oi-account-logout" @onclick="LogoutClick" />
</SfTooltip>

@code {
    private void LogoutClick()
    {
        navigationManager.NavigateTo("/account/logout");
    }
}
