﻿@{ #pragma warning disable }

@attribute [Authorize]

@inject NavigationManager navigationManager
@inject HttpClient Http
@inject AuthenticationStateProvider authStateProvider
@inject IJSRuntime JS

@using Monitoring.Client.Extensions;
@using Microsoft.AspNetCore.Components;
@using Syncfusion.Blazor.Navigations

<SfMenu Orientation="Orientation.Vertical">
    @*<MenuEvents ItemSelected="OnItemSelected" />*@
    <MenuItems @ref="items">
        <AuthorizeView Policy="@Policies.IsAdmin" Context="AuthorizeContext">
            <MenuItem Url="/admin/users" Text="@Localizer["Users"]" IconCss="oi oi-people" />
            <MenuItem Url="/admin/roles" Text="@Localizer["Roles"]" IconCss="oi oi-eye" />
            <MenuItem Url="/locations" Text="@Localizer["Locations"]" IconCss="oi oi-home" />
            <MenuItem Url="/sensorTypes" Text="@Localizer["SensorTypes"]" IconCss="oi oi-flash" />
            <MenuItem Url="/sensorModels" Text="@Localizer["SensorModels"]" IconCss="oi oi-flash" />
            <MenuItem Url="/units" Text="@Localizer["Units"]" IconCss="oi oi-calculator" />
        </AuthorizeView>
        <MenuItem Url="/sensors" Text="@Localizer["Sensors"]" IconCss="oi oi-graph" />
        <MenuItem Url="/dashboards" Text="@Localizer["Dashboards"]" IconCss="oi oi-bar-chart" />
        <AuthorizeView Policy="@Policies.IsManager" Context="AuthorizeContext">
            <MenuItem Url="/thresholds" Text="@Localizer["Thresholds"]" IconCss="oi oi-bell" />
        </AuthorizeView>
    </MenuItems>
</SfMenu>


@code {
    private SfMenu menu;
    private MenuItems items;
    List<LocationDto> locations = new List<LocationDto>();
    private MenuItems items1;

    protected override async Task OnInitializedAsync()
    {
        return;
        await ((ApiAuthenticationStateProvider)authStateProvider).GetUserInfo();
        var user = await ((ApiAuthenticationStateProvider)authStateProvider).GetUserInfo();
        if (user != null && user.ExposedClaims == null)
        {
            return;
        }
        Console.WriteLine(user.ExposedClaims);
        foreach (var item in user.ExposedClaims)
        {
            Console.WriteLine(item.Key);
        }
        var claim = user.ExposedClaims.FirstOrDefault(c => c.Key == System.Security.Claims.ClaimTypes.NameIdentifier);
        Console.WriteLine(claim);
        items1 = new MenuItems();
        //items1.Items = new List<MenuItem>();
        if (user.ExposedClaims.Where(c => c.Key == Policies.IsAdmin).Count() == 1)
        {
            items1 = new MenuItems
            {
                Items = new List<MenuItem> {
               new MenuItem { Url="/admin/users", Text = @Localizer["Users"], IconCss="oi oi-people" },
               new MenuItem { Url="/admin/roles", Text = @Localizer["Roles"], IconCss="oi oi-eye" },
               new MenuItem { Url="/locations", Text = @Localizer["Locations"], IconCss="oi oi-home" },
               new MenuItem { Url="/sensorTypes", Text = @Localizer["SensorTypes"], IconCss="oi oi-flash" },
               new MenuItem { Url="/sensorModels", Text = @Localizer["SensorModels"], IconCss="oi oi-flash" },
               new MenuItem { Url="/units", Text = @Localizer["Units"], IconCss="oi oi-calculator" }
                }
            };
            Console.WriteLine("asdf");
        }
        if (user.ExposedClaims.Where(c => c.Key == Policies.IsAdmin).Count() == 123)
        {
            items1.Items.AddRange(new MenuItem[]{
               new MenuItem { Url="/sensors", Text = @Localizer["Sensors"], IconCss="oi oi-graph" },
               new MenuItem { Url="/dashboards", Text = @Localizer["Dashboards"], IconCss="oi oi-bar-chart" }
            });
            if (claim.Key == Policies.IsManager)
            {
                items1.Items.AddRange(new MenuItem[] {
                    new MenuItem { Url = "/threshold", Text = @Localizer["Thresholds"], IconCss = "oi oi-bar-bell" }
                });
            }
        }
    }

    async Task GetLocations()
    {
        ApiResponseDto apiResponse = await Http.GetFromJsonAsync<ApiResponseDto>("api/location");

        locations = Newtonsoft.Json.JsonConvert.DeserializeObject<LocationDto[]>(apiResponse.Result.ToString()).ToList<LocationDto>();
    }

    private async Task OnItemSelected(MenuEventArgs<MenuItem> e)
    {
        await JS.ClearActiveItems();
        e.Element.AddClass(new string[] { "active" });
    }
}

@{ #pragma warning enable }