@using Syncfusion.Blazor.Spinner

<div id="login-spinner" />

<SfSpinner @ref="spinner" Target="#spinner">
</SfSpinner>

@code {
    [Inject] private Client.Services.Contracts.ISuperService SuperService { get; set; }

    private SfSpinner spinner;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            SuperService.SfSpinner = spinner;
        }
    }
}
