﻿@using Microsoft.AspNetCore.Components
@using Syncfusion.Blazor.Notifications

<SfToast @ref="@_sfToast" TimeOut="5000" >
    <ToastPosition X="Right"></ToastPosition>
    <ToastAnimationSettings>
        <ToastAnimationSettingsShow Effect="@ShowEffect" Easing="@ShowEasing" Duration="@ShowDuration"></ToastAnimationSettingsShow>
        <ToastAnimationSettingsHide Effect="@HideEffect" Easing="@HideEasing" Duration="@HideDuration"></ToastAnimationSettingsHide>
    </ToastAnimationSettings>
</SfToast>

@code {
    [Inject] private Client.Services.Contracts.ISuperService SuperService { get; set; }

    private SfToast _sfToast;

    public string ShowEasing { get; set; } = "ease";
    public string HideEasing { get; set; } = "ease";
    public string ShowEffect { get; set; } = "SlideRightIn";
    public string HideEffect { get; set; } = "SlideRightOut";
    public double ShowDuration = 400;
    public double HideDuration = 400;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            SuperService.SfToast = _sfToast;
        }
    }
}
