﻿@using Microsoft.AspNetCore.Components;

@inject NavigationManager navigationManager

@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups

<SfTooltip Target="#user-profile-btn" Content="@Localizer["UserProfile"]">
    <SfButton ID="user-profile-btn" CssClass="e-transparent" IconCss="oi oi-person" @onclick="ProfileClick"  />
</SfTooltip>

@code {
    private void ProfileClick()
    {
        navigationManager.NavigateTo("/account/profile");
    }
}
