﻿@page "/dashboards"
@page "/dashboards/{LocationId:int}"
@attribute [Authorize]

@using Monitoring.Shared.Dto;

@inject NavigationManager navigationManager
@inject HttpClient Http
@inject ISuperService superService

@using Syncfusion.Blazor.Cards

<BackButton Url="/" />

<h1>@Localizer["Dashboards"]</h1>

@if (_dashboards == null)
{
    <Loading>@Localizer["Loading"]</Loading>
}
else
{
    if (_location != null)
    {
        <div>@_location.DisplayName</div>
    }
    <div class="dashboards-container">
        @foreach (var dashboard in _dashboards)
        {
            <div class="col-lg-3">
                <SfCard @onclick="(e => OnClick(dashboard))">
                    <CardHeader Title="@dashboard.DisplayName" />
                </SfCard>
            </div>
        }
    </div>
}

@code  {
    [Parameter]
    public int LocationId { get; set; }

    private List<DashboardDto> _dashboards;
    private LocationDto _location;

    protected override async Task OnInitializedAsync()
    {
        await LoadDashboards();
    }

    private async Task LoadDashboards()
    {
        var urlSuffix = "";
        if (LocationId != 0)
        {
            var response = await Http.GetFromJsonAsync<ApiResponseDto>("api/location/" + LocationId);
            if (response.StatusCode == Status200OK)
            {
                _location = Newtonsoft.Json.JsonConvert.DeserializeObject<LocationDto>(response.Result.ToString());
            }
            urlSuffix = "/getbylocation/" + LocationId.ToString();
        }
        else
        {
            _location = null;
        }

        var apiResponse = await Http.GetFromJsonAsync<ApiResponseDto>("api/dashboard" + urlSuffix);

        if (apiResponse.StatusCode == Status200OK)
        {
            _dashboards = Newtonsoft.Json.JsonConvert.DeserializeObject<List<DashboardDto>>(apiResponse.Result.ToString());
        }
        else
        {
            superService.ShowError("Data retrieval Failed", apiResponse.Message);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadDashboards();
    }

    private void OnClick(DashboardDto dashboard)
    {
        if (dashboard.IsGenerated)
        {
            navigationManager.NavigateTo("/dashboard/" + dashboard.Id);
        } else
        {
            navigationManager.NavigateTo("/dashboard/custom/" + dashboard.Id);
        }
    }

    private void GoBack()
    {
        navigationManager.NavigateTo("/", forceLoad: false);
    }
}
